
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*definir variables*/
:root{
    --color-oro: #D8B865;
    --color-negro: #1E1E1E;
    --color-marron: #44413E;
    --color-blanco: #ffffff;
    --color-beige: #F8F2E7;
    --size-1x: 4px;
    --size-2x: 8px;
    --size-3x: 12px;
    --size-4x: 16px;
    --size-5x: 20px;
    --size-6x: 24px;
    --size-8x: 32px;
    --size-9x: 36px;
    --size-10x: 40px;
}
/*definir estilos generales*/
*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: normal;
}
body p{
    font-family: 'Open Sans', sans-serif;
}
.btn{
    padding: var(--size-3x) var(--size-8x);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: var(--size-2x);
    margin: 2rem auto;
}
.btn-primary{
    color: var(--color-negro);
    background-color: var(--color-oro);
}
.btn-primary:hover{
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.5));
    background-color: #AD9351;
    color: var(--color-blanco);
}
.btn-secondary{
    color: var(--color-oro);
    background-color: var(--color-negro);
}
.btn-secondary:hover{
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.5));
    color: #fff;
}

h1{
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    text-transform: uppercase;
    color: var(--color-blanco);
    margin: 2rem 0;
}
h1>span{
    font-style: italic;
    font-weight: 800;
    color: var(--color-oro);
}
h2{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--color-marron);
    position: relative;
    z-index: 5;
}
h2::after{
    content: "";
    display: block;
    width: 150px;
    height: 20px;
    background-color: var(--color-oro);
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    z-index: -1;
    border-radius: var(--size-1x);
}

p{
    font-size: 1.2rem;
    margin: .5rem 0;
}
.navbar{
    background-color: #1E1E1E70;
    height: fit-content;
    width: 100%;
    padding: 20px 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}
.navbar a{
    text-decoration: none;
    color: var(--color-blanco);   
}

.navbar ul, .navbar li{
    all: initial;
    list-style: none;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
   
}
.navbar li{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.navbar a{
    padding: 4px;
}
.navbar li a:hover{
    background: #D8B86550;
    border-radius: var(--size-1x);
}

footer{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 30px 5vw;
    border-top: 1px solid var(--color-negro);
    background-color: var(--color-beige);
    gap: 1rem;
}
footer a{
    color: var(--color-negro);
}

/*definir estilos Index  / Main page*/
.hero{
    width: 100%;
    height: 100dvh;
    background-image: url(../recursos/imagen-hero.jpg);
    background-size: cover;
    padding: 5vh 5vw;
    display: flex;   
    flex-direction: column;
    justify-content: center;
}
.hero::after{
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.0));
  z-index: 1;
}
.hero div{
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10; 
}
.hero h1{
    position: relative;
    z-index: 10;
}
.hero p{
    color: white;
    max-width: 720px;
    text-align: justify;
}

.argumentos{
    background-color: #1E1E1E;
    width: 100%;
    min-height:600px;
    padding: 5vh 5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.argumentos .argumento{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    gap: 2rem;
    justify-content: center;
}
.argumento img{
    width: 160px;
    border: 2px solid var(--color-oro);
    border-radius: 10px;
}
.argumento span{
    opacity: 0.8;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    width: 180px;
}
.argumento span em{ color: var(--color-oro);}

#que-hacemos{
    width: 100%;
    position: relative;
    background-color: var(--color-beige);
    padding: 5vh 5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex-half{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.flex-half.column{
    display: flex;
    flex-direction: column;
    align-items: start;
}

#que-hacemos p{
    max-width: 720px;
    text-align: justify;
}
.flotando{
    position: relative;
}
#que-hacemos .flex-half img{
    width: 320px;
    border-radius: var(--size-3x);
    position: relative;
    z-index: 5;
     
}
#que-hacemos .flex-half img:nth-child(1){
    position: absolute;
  top: 16px;
  left: 16px;
  opacity: .3;
}

#como-lo-hacemos{
    width: 100%;
    padding: 5vh 5vw;
    background-color: var(--color-negro);
    color: var(--color-blanco);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#como-lo-hacemos #icono_referencia{
    margin-left: 8px;
}
#como-lo-hacemos p{
    max-width: 720px;
    text-align: justify;
}
#como-lo-hacemos h3{
    font-size: 24px;
}
#como-lo-hacemos h3 span, #como-lo-hacemos a{
    color: var(--color-oro);
}
#como-lo-hacemos h2{color: var(--color-blanco);}
#como-lo-hacemos a{ padding: 4px; border-radius: var(--size-1x);
}
#como-lo-hacemos a:hover{ background: #AD935120;
}

#como-lo-hacemos .flex-half{
    padding: 2vw;
}
#como-lo-hacemos .flex-half img{
    max-width: 100%;
}

#quieres-saber-mas{
    padding: 5vh 5vw;
    background-color: var(--color-beige);
    padding-bottom: 120px;
    display: flex;
    flex-direction: row;
}

.contact-information{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contacto-images{
    width: 50%;
    display: flex;
    justify-content: center;
}
.contacto-images img{
    max-width: 520px;
}

.card-email{
    padding: 2rem;
    border-radius: 12px;
    background-color: #1E1E1E60;
    border: 1px solid var(--color-negro);
    text-align: center;
    margin: 1rem 0;
}
.card-email a{
    color: var(--color-blanco);
    text-decoration: none;
    font-size: 20px;
}

/*Contacto*/
#contact-page{
    width: 100%;
    min-height: 100dvh;
    padding: 4rem;
    background-color: var(--color-negro);
    color: var(--color-blanco);
}
#contact-page h2{
    color: var(--color-blanco);
}
.formulario{ width: 50%;}
.formulario form{
    width: 60%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
}
.formulario label{
    margin-top: var(--size-4x);
    margin-bottom: var(--size-2x);
    padding: 0 var(--size-1x);
}
.formulario input, .formulario textarea{
    padding: var(--size-2x) var(--size-1x);
    background-color: #ffffff;
    border: 2px solid #D8B865;
    color: var(--color-negro);
    border-radius: var(--size-2x);
}
.formulario input:focus, .formulario input:active, .formulario textarea:focus{
    background-color: var(--color-blanco);
}
input[type="submit"] {
    background-color: var(--color-oro);
    color: var(--color-negro);
    padding: var(--size-3x);
    margin-top: var(--size-4x);
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
input[type="submit"]:hover{
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.5));
    background-color: #AD9351;
    color: var(--color-blanco);
}

.contact-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*Caso Práctico*/

.cp-hero{
    width: 100%;
    padding: 20vh 5vw;
    background: var(--color-negro);
    display: flex;
    gap: 4rem;
}
.cp-hero-texto{
    width: 50%;
}
.cp-hero-imagenes{
    width: 50%;
}
.cp-hero p{
    color: var(--color-blanco);
}
.cp-hero-imagenes img{
    width: 600px;
}

.cp-overview{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background: #272622;
    padding: 20vh 5vw;
    color: var(--color-blanco);
}
.cp-overview-text{
    max-width: 480px;
}
.cp-overview-text p{
    margin-top: 2rem;
    text-align: justify;
}
.cp-overview img{
    width: 100%;
    max-width: 900px;
    border-radius: 8px;
}
.cp-sala{
    width: 100%;
    padding: 10vh 5vw;
    background: var(--color-negro);
    color: var(--color-blanco);
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 2rem;
}
.cp-sala:nth-child(even){
    background-color: #272622;
}
.cp-sala h2{
    color: var(--color-blanco);
    margin-top: 0;
}
.cp-sala-content{
max-width: 600px;
text-align: justify;
}
.cp-sala p{
    margin-top: 2rem;
}
.cp-sala #comparador{
    min-height: unset;
    align-items: center;
}
.cp-resultado-final{
    width: 100%;
    padding: 10vh 5vw;
    background: var(--color-negro);
    color: var(--color-blanco);
    display: flex;
    flex-direction: row;
}
.cp-resultado-final h2{
    color: var(--color-blanco);
}
.cp-resultado-final-content{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.cp-resultado-final-media{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cp-resultado-final-media video{
    border-radius: 8px;
    cursor: pointer;
}
.cp-resultado-final-media img{
   width: 400px;
   border-radius: 8px;
   margin-bottom: 1rem;
}
.cp-resultado-final-media img, .cp-resultado-final-media video{ max-width: 100%;}

.cp-resultado-final span{
    color: var(--color-oro);
    font-weight: 700;
}

/*Galeria Lightbox*/
.cp-gallery {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    width: 150px;
    height: 120px;
    background-size: cover;
    margin: 10px;
    border-radius: var(--size-2x);
    cursor: pointer;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}

.lightbox-content {
    max-width: 800px;
    position: relative;
}
.lightbox-content img{
    max-width: 100%;
    border-radius: var(--size-1x);
}

.close {
    position: absolute;
    top: -72px;
    right: -72px;
    font-size: 36px;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    display: block;
}

.nav-btn{
    position: absolute;
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    font-size: 36px;
    font-weight: 500;
    border-radius: 8px;
    border: 2px solid var(--color-oro);
    background: #1E1E1E;
    color: var(--color-oro);
    cursor: pointer;
}
.nav-btn:hover{ font-weight: 700;}
.prev-btn{
    left: calc(-1rem - 50px);
}
.next-btn{
    right: calc(-1rem - 50px);
}

/*Responsive Mobile*/
@media screen and (max-width: 900px) {
    h1{ font-size: 3rem; }
    p{ font-size: 1rem; }
    .btn{ font-size: 1rem;}
    h2{ font-size: 30px;}
    #como-lo-hacemos h3{ font-size: 20px;}

    .navbar li{font-size: 14px;}
    .navbar a img{width: 150px;}
    .navbar ul:last-of-type li:last-of-type{display: none;}

    /*Pagina Principal Responsive*/
    .hero{height: 80dvh;}
    .hero::after{height: 80dvh;}

    .argumentos{
        height: unset;
        gap: 1rem;
        justify-content: start;
    }
    .argumentos .argumento{
        width: 100%;
        gap: 1rem;
    }
    .argumento span{ font-size: 20px;}

    #que-hacemos{ flex-direction: column;}
    .flex-half{ width: 100%;}
    .flex-half img{width: 240px;}

    #como-lo-hacemos{flex-direction: column;}
    #icono_referencia{width: 14px;}
    #como-lo-hacemos .flex-half img{
        width: 100%;
    }
    #quieres-saber-mas{
        flex-direction: column-reverse;
        gap: 1rem;
        padding-bottom: unset;
    }
    .contact-information{ width: 100%;}
    .contacto-images{width: 100%;}
    .contacto-images img{max-width: 100%;}

    /*Pagina Caso Practico*/
    .cp-hero{flex-direction:column; padding: 10vh 5vw;}
    .cp-hero h1{font-size: 2.5rem;}
    .cp-hero-texto{width: 100%;}
    .cp-hero-imagenes{width: 100%;}
    .cp-hero-imagenes img{max-width: 100%;}
    .cp-overview{flex-direction:column; padding: 5vh 5vw;}
    .cp-sala{
        flex-direction: column;
        padding: 5vh 5vw;
    }
    .cp-gallery{justify-content: center;}
    .thumbnail{width: 40%;}
    .close{top: -60px;right: 20px;}
    .lightbox-content img{padding: 0 1rem;}
    .nav-btn{top: unset; bottom: -50px;}
    .nav-btn:active{transform: scale(.9);}
    .prev-btn {left: calc(50% - 58px);}
    .next-btn {right: calc(50% - 58px);}

    .cp-resultado-final{flex-direction: column;}
    .cp-resultado-final-content{width:100%;}
    .cp-resultado-final-media{width: 100%;}
    
}


/*Responsive pantallas Full HD*/
@media screen and (min-width: 1700px){
    .cp-overview{
        gap: unset;
        justify-content: space-between;
    }
    .cp-sala{justify-content:space-between}
    .cp-gallery{max-width: 800px;
    }
    .thumbnail{width: 200px;}
}